<div id="vimeography-gallery-{{gallery_id}}" class="vimeography-smooth" data-version="{{version}}"{{#gallery_width}} style="max-width: {{gallery_width}};"{{/gallery_width}}>

	<div class="vimeography-main">
		{{#featured}}
			<h2 class="vid-tit">{{title}}</h2>
			<iframe id="vimeography-embed-{{gallery_id}}" src="http://player.vimeo.com/video/{{id}}?title=0&byline=0&portrait=0&api=1&player_id=vimeography-embed-{{gallery_id}}" width="{{width}}" height="{{height}}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
			<p class="vid-descr">{{description}}</p>
		{{/featured}}
	</div>

	<div class="vimeography-thumbnails flexslider">
		<ul class="slides">
			{{#info}}
				<li class="vimeography-thumbnail">
					<img src="{{thumbnail_large}}" alt="{{title}}" data-id="{{id}}" data-duration="{{duration}}" data-description="{{description}}" width="186" height="105" />
					<a href="#" data-id="{{id}}" data-title="{{title}}" data-duration="{{duration}}" data-description="{{description}}"><span>{{title}}</span></a>
				</li>
			{{/info}}
		</ul>
	</div>

</div> <!-- End Gallery -->

<script charset="utf-8" type="text/javascript">

	(function($){

		var replaceURLWithHTMLLinks = function(text) {
			var exp = /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/ig;
			return text.replace(exp,"<a href='$1'>$1</a>");
		}

		$(document).ready(function(){

			$('#vimeography-gallery-{{gallery_id}} .vid-descr').html(replaceURLWithHTMLLinks($('#vimeography-gallery-{{gallery_id}} .vid-descr').html()));

			$('#vimeography-gallery-{{gallery_id}}').fitVids();

			$('#vimeography-gallery-{{gallery_id}} .vimeography-main').spin('custom');

			$('#vimeography-gallery-{{gallery_id}} .vimeography-thumbnails').flexslider({
				animation: "slide",
        		namespace: 'vimeography-smooth-',
				controlNav: false,
				animationLoop: false,
				slideshow: false,
				itemWidth: 186,
				itemMargin: 8,
				useCSS: false,
				prevText: "<span></span>",
				nextText: "<span></span>"
			});

			$('#vimeography-gallery-{{gallery_id}} .vimeography-thumbnails li').first().addClass('vimeography-smooth-active-slide');

			$('#vimeography-gallery-{{gallery_id}} .vimeography-thumbnail a').on('click', function(e){
				var id = $(this).attr('data-id');
				var src = 'http://player.vimeo.com/video/'+id+'?title=0&byline=0&portrait=0&autoplay=0&api=1&player_id=vimeography-embed-{{gallery_id}}';
				$('.vimeography-smooth-active-slide').removeClass('vimeography-smooth-active-slide');
				$(this).parent().addClass('vimeography-smooth-active-slide');
				$('#vimeography-embed-{{gallery_id}}').animate({'opacity':0}, 300, 'linear', function(){
					$(this).attr('src', src);
					$(this).load(function(){
						$(this).animate({'opacity':1}, 300);
					});
				});
				var tit = $(this).data('title');
				var descr = $(this).data('description');
				$('#vimeography-gallery-{{gallery_id}} .vid-tit').animate({'opacity':0}, 300, 'linear', function(){
					$(this).html(tit);
					$(this).animate({'opacity':1}, 300);
				});
				$('#vimeography-gallery-{{gallery_id}} .vid-descr').animate({'opacity':0}, 300, 'linear', function(){
					$(this).html(replaceURLWithHTMLLinks(descr));
					$(this).animate({'opacity':1}, 300);
				});
	    		e.preventDefault();
			});

			$('#vimeography-gallery-{{gallery_id}} .vimeography-thumbnail').hover(function(){
				$('a', this).stop().animate({
					opacity: 1
				});
			},function(){
				$('a', this).stop().animate({
					opacity: 0
				});
			});

		});
	})(jQuery)

</script>

{{#dynamic_css}}
  {{#exists}}
    <style type="text/css">
  {{/exists}}

  {{#settings}}
    #vimeography-gallery-{{gallery_id}}{{target}} { {{attribute}}: {{value}}; }
  {{/settings}}

  {{#exists}}
    </style>
  {{/exists}}
{{/dynamic_css}}